:root {
    /* custom spacings for e comm */
    --xlarge-spacing: 3rem;
    --large-spacing: 2rem;
    --medium-spacing: 1rem;
    --small-spacing: 0.5rem;

    /* custon font size */
    --xl-heading: 3rem;
    --lg-heading: 2rem;
    --md-heading: 1rem;
    --sm-heading: 0.5rem;
}

.w-full {
    width: 100%;
}

.flex-1 {
    flex: 1;
}

.mt-0 {
    margin-top: 0;
}

.cp {
    cursor: pointer;
}

.bold-text {
    font-weight: 700;
}

.sm-img-size {
    height: 15rem;
    width: 15rem;
}