.price-range-input {
  display: flex;
  align-items: center;
  gap: var(--sm-spacing);
  padding-top: var(--sm-spacing);
  margin-bottom: var(--lg-spacing);
}

.price-range {
  flex: 1;
  cursor: pointer;
}

.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--lg-spacing);
}

.filter {
  background-color: var(--basic-bg);
  z-index: 0;
  border-right: 1px solid var(--secondary-color-light-shade3);
  padding: var(--default-spacing);
  min-height: 100vh;
  flex-basis: 25%;
  position: sticky;
  top: 0;
  position: relative;
}

.sort-container {
  margin-bottom: var(--lg-spacing);
}

.sort-input {
  margin: var(--sm-spacing) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

/* hiding this section for now */
.filter-price-range {
  display: none;
}
