.featuredCategory-heading {
    font-size: var(--lg-heading);
    text-align: center;
}

.featuredCategory-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: var(--default-spacing);
    margin-top: var(--default-spacing);
}