.featuredCategory-heading {
    font-size: var(--lg-heading);
    text-align: center;
}

.featuredCategory-cards {
    display: flex;
    gap: var(--default-spacing);
    margin-top: var(--default-spacing);
    justify-content: center;
}