.category-card {
  height: 12rem;
  width: 12rem;
  position: relative;
  cursor: pointer;
  border-radius: var(--default-border);
}

.category-card:hover {
  transform: scale(1.03);
}

.category-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  border-radius: inherit;
}

.category-text {
  position: absolute;
  top: 37%;
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: large;
  padding: var(--default-spacing) 0;
  background-color: rgba(255, 255, 255, 0.6);
}
